@import 'tailwindcss';

@theme {
	--color-*: initial;
	--color-fg: #efecda;
	--color-fg-1: #efecdacc;
	--color-fg-2: #efecdaaa;
	--color-fg-3: #efecda22;
	--color-gold: #d7cba7;
	--color-bg: #212120;
	--color-bg-1: #343430;
	--color-bg-2: #efecda44;
	--color-bg-card: #212120cc;
	--color-backdrop: #efecda22;
	--color-gold: #f2cf84;
	--color-error: #ee795f;

	--color-primary: var(--color-yellow);
	--radius-btn: 2rem;
	--radius-input: 0.5em;
	--radius-card: 1rem;
	--input-height: 2.4em;
	--font-sans: 'Space Grotesk Variable', system-ui, sans-serif;
	--font-mono: 'Space Mono', monospace;
}

* {
	outline: none; /* outline should be set specifically for each element with :focus-visible */
}

body {
	@apply flex flex-col h-dvh w-full;
	overflow: auto;
	color: var(--color-fg);
	background-color: var(--color-bg);
	background-image: radial-gradient(var(--color-bg-1) 8%, transparent 8%);
	background-position: 0% 0%;
	background-size: 5vmin 5vmin;
}
